apiVersion: v1
kind: PersistentVolume
metadata:
  name: accordion-templates-pv
  labels:
   volume-task: accordion-templates
  annotations:
   # pv.beta.kubernetes.io/gid: "1001001"
spec:
  capacity:
    storage: 100Mi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ server }}
    path: {{ templatespath }}
