kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: accordion-templates-pvc
  namespace: {{ namespace }} 
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Mi
  selector:
    matchLabels:
      volume-task: accordion-templates
