kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: accordion-config-pvc
  namespace: {{ namespace }} 
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Mi
  selector:
    matchLabels:
      volume-task: accordion-config
