apiVersion: v1
kind: PersistentVolume
metadata:
  name: accordion-license-pv
  labels:
   volume-task: accordion-license
  annotations:
   # pv.beta.kubernetes.io/gid: "1001001"
spec:
  capacity:
    storage: 1Mi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ server }}
    path: {{ licensepath }}
