apiVersion: v1
data:
  host: MTI3LjAuMC4xOjMwMDAx
  useremail: ""
  username: YWNjb3JkaW9u
  userpassword: YWNjYWRtaW4=
kind: Secret
metadata:
  labels:
    a7n/task: a7n-docker-registry
  name: accordion-docker-registry
  namespace: accordion
type: a7n-docker-registry
