apiVersion: v1
kind: PersistentVolume
metadata:
  name: pgdata-pv
  labels:
   volume-task: postgres
  annotations:
   # pv.beta.kubernetes.io/gid: "1001001"
spec:
  capacity:
    storage: {{ storage }}Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ server }}
    path: {{ postgrespath }}