apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins-data
  labels:
   #volume-type: ssd
   volume-task: build
spec:
  capacity:
    storage: {{ storage }}Gi
  accessModes:
    - ReadWriteMany
  nfs:
    # FIXME: use the right IP
    server: {{ server }}
    path: {{ path }}
