apiVersion: extensions/v1beta1
kind: Ingress
metadata:
 name: jenkins-ingress
 namespace: {{ namespace }}
 labels:
  app: jenkins
spec:
 rules:
   - host: {{ host }}
     http:
       paths:
         - path: /
           backend:
             serviceName: jenkins
             servicePort: 443
