apiVersion: v1
kind: PersistentVolume
metadata:
  name: registry-pv
  labels:
    kubernetes.io/cluster-service: "true"
    volume-task: registry
spec:
  capacity:
    storage: {{ docker_registry_storage }}Gi
  accessModes:
    - ReadWriteMany
  nfs:
    # FIXME: use the right IP
    server: {{ docker_nfs_server }}
    path: {{ docker_nfs_path }}
