kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: registry-pvc
  namespace: {{ docker_namespace }}
  labels:
    kubernetes.io/cluster-service: "true"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ docker_registry_storage }}Gi
  selector:
    matchLabels:
      volume-task: registry
