apiVersion: extensions/v1beta1
kind: Ingress
metadata:
 name: jenkins-ingress
 namespace: {{ jenkins_namespace }}
 labels:
  app: jenkins
spec:
 rules:
   - host: {{ jenkins_host }}
     http:
       paths:
         - path: /
           backend:
             serviceName: jenkins
             servicePort: 443
