apiVersion: v1
kind: Service
metadata:
  name: jenkins
  namespace: {{ jenkins_namespace }}
  labels:
    app: jenkins
spec:
  type: NodePort
  ports:
    - name: jenkinsport
      port: 80
      targetPort: 8080
      nodePort: {{ jenkins_nodePort }}
    - name: slaves
      port: 50000
      protocol: TCP
      targetPort: 50000
  selector:
    app: jenkins
