apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-data
  namespace: {{ jenkins_namespace }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ jenkins_storage }}Gi
  selector:
    matchLabels:
      volume-task: build
